{% extends "base.html" %}

{% block title %} log {% endblock %}

{% block content %}

<h3>Tomcat日志</h3>
   <ul>
      <li><a href="/server/log/download/Main">Main</a></li>
      <li><a href="/server/log/download/Passport">Passport</a></li>
      <li><a href="/server/log/download/Home">Home</a></li>
      <li><a href="/server/log/download/Eclass">Eclass</a></li>
      <li><a href="/server/log/download/Camp">Camp</a></li>
      <li><a href="/server/log/download/Schedule">Schedule</a></li>
	  <li><a href="/server/log/download/Schedule">CLsRoom</a></li>
    </ul>



{% endblock %}