{% extends "base.html" %}
{% block content %}
<!-- link resources !-->
<div>
    <h3 >运维管理</h3>
    <ul #class="list-group">
        <li  #class="list-group-item"><a target="_blank" href="https://10.33.1.14:9392/login/login.html">openvas</a></li>
        <li  #class="list-group-item"><a target="_blank" href="http://127.0.0.1:65001/dashboard.php">zabbix</a></li>
        <li  #class="list-group-item"><a target="_blank" href="http://127.0.0.1:65002/zh-CN/account/login?return_to=%2Fzh-CN%2F">splunk</a></li>
    </ul>
</div>

<div>
    <h3 >办公</h3>
    <ul #class="list-group">
        <li  #class="list-group-item"><a target="_blank" href="http://10.36.1.51:6001/seeyon/main.do">OA</a></li>
        <li  #class="list-group-item"><a target="_blank" href="http://exmail.qq.com/login">邮箱</a></li>
    </ul>
</div>
<p>{{ username }}</p>

{% endblock %}








