<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<form action="edit1.html" method="POST" target="_blank">
<select name="x">
    <option selected value="default">请选择</option>
    <option value="2">2</option>
    <option  value="3">3</option>
    <option  value="4">4</option>
</select>
    <input type="submit" >
</form>

<form>
    <input  name='s' type="radio" >
    <input  type="submit" >
</form>

<form>
    <input  name='s' type="radio" >
    <input  type="submit" >
</form>
<form>
    <input type="redio">

</form>



</body>
</html>